name: Release

# Enable Buildkit and let compose use it to speed up image building
env:
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

on:
  push:
    branches: ["master", "main", "environment/*"]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: false

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Set up poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: 1.1.13

      - name: Detect and tag new version
        id: check-version
        uses: salsify/action-detect-and-tag-new-version@v2.0.1
        with:
          version-command: |
            poetry version | awk '{ print $2 }'
          create-tag: ${{ github.ref == 'refs/heads/main' }}

      - name: Publish the release notes
        uses: release-drafter/release-drafter@v5.20.0
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          publish: ${{ steps.check-version.outputs.tag != '' }}
          tag: ${{ steps.check-version.outputs.tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Prepare version
        id: version
        run: |
          if [[ $REF = refs/heads/main && -z $VERSION ]];
          then
            poetry version patch && \
            echo "::set-output name=tag::$(poetry version | awk '{ print $2 }')-dev.$(date +'%Y-%m-%dT%H%M')"
            echo "::set-output name=build::true"
          elif [[ $REF = *environment* && -z $VERSION ]];
          then
            echo "::set-output name=tag::$(poetry version | awk '{ print $2 }')"
            echo "::set-output name=build::false"
          elif [[ -n $VERSION ]];
          then
            echo "::set-output name=tag::$VERSION"
            echo "::set-output name=build::true"
          else
             echo "Missing version tag"
          fi
        env:
          VERSION: ${{ steps.check-version.outputs.current-version }}
          REF: ${{ github.ref }}
      - name: Identify the environment
        id: branch_check
        run: |
          echo "Running on branch $REF"
          if [[ $REF = refs/heads/main ]];
          then
            echo "::set-output name=env_name::dev"
          elif [[ $REF = *environment* ]];
          then
            echo "::set-output name=env_name::${REF##*/}"
          else
             echo "Missing environment name"
             exit 1;
          fi
        env:
          REF: ${{ github.ref }}
      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@v4
        if: ${{ steps.version.outputs.build == 'true' }}
        with:
          name: vahaah/ga-demo/ga-demo
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          tag_semver: true
          tags: "latest,${{ steps.version.outputs.tag }}"
          registry: docker.pkg.github.com
    outputs:
      env_name: ${{ steps.branch_check.outputs.env_name }}
      version: ${{ steps.version.outputs.tag }}
  release:
    needs: [build]
    if: needs.build.outputs.env_name != ''
    name: Release
    runs-on: ubuntu-latest
    environment:
      name: ${{ needs.build.outputs.env_name }}
    steps:
      - name: Checkout Code Repository
        run: |
          echo "Running on env ${{ needs.build.outputs.env_name }}"
          echo "Running on with version ${{ needs.build.outputs.version }}"
      - uses: mshick/add-pr-comment@v1
        with:
          message: |
            **Deployment**
            Version: ${{ needs.build.outputs.version }} deployed to ${{ needs.build.outputs.env_name }}
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          repo-token-user-login: "github-actions[bot]"
          allow-repeats: false
