name: Release

# Enable Buildkit and let compose use it to speed up image building
env:
  DOCKER_BUILDKIT: 1
  COMPOSE_DOCKER_CLI_BUILD: 1

on:
  push:
    branches: ["master", "main", "release/*"]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: false

jobs:
  release:
    runs-on: ubuntu-latest
    environment:
      name: dev
      url: https://github.com/vahaah/ga-demo
    steps:
      - name: Checkout Code Repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Set up poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: 1.1.13

      - name: Detect and tag new version
        id: version
        uses: salsify/action-detect-and-tag-new-version@v2.0.1
        with:
          version-command: |
            poetry version | awk '{ print $2 }'

      - name: Publish the release notes
        uses: release-drafter/release-drafter@v5.20.0
        with:
          publish: ${{ steps.version.outputs.tag != '' }}
          tag: ${{ steps.version.outputs.tag }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
